*{
    /*去掉默认的marign*/
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "iconfont"; /* Project id 4677043 */
    src: url('//at.alicdn.com/t/c/font_4677043_695uow6qulm.woff2?t=1725677325133') format('woff2'),
    url('//at.alicdn.com/t/c/font_4677043_695uow6qulm.woff?t=1725677325133') format('woff'),
    url('//at.alicdn.com/t/c/font_4677043_695uow6qulm.ttf?t=1725677325133') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*
 样式规范,从上到下, 父类样式,尽量用继承的方式编写

*/
.page{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f5f5f5;
}
.guide-page .main-pic {
     /* 1rem = 100px 86px == .86rem*/
    display: block;
    width: .86rem;
    height: .7rem;
    /* 方案1*/
    padding:.93rem 0 .29rem 0;
    margin: 0 auto;
    /* 会出现滚动条*/
    /*margin: .93rem auto;*/
}
/*动画效果*/
.guide-page {
    opacity: 0;
    transition:  all 3s;
/* 编写逻辑*/
}
.guide-page .sub-pic {
    /* 1rem = 100px 86px == .86rem*/
    display: block;
    width: 2.02rem;
    height: 1.18rem;
    margin: 1.73rem auto 0 auto;
}
.guide-page .title{
    color:#242424;
    font-weight: regular;
    font-size: .2rem;
    line-height: .23rem;
    letter-spacing: 0px;
    text-align: center;
}
.guide-page .arrow-icon{
    /*距离页面底部的距离计算*/
    position: absolute;
    left: 0;
    bottom:.73rem;
    right: 0;
    line-height: .2rem;
    text-align: center;
    color:#73D13D;
}